<h3>Borrowing History</h3>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead class="table-light">
      <tr>
        <th>Borrower</th>
        <th>Borrowed At</th>
        <th>Due Date</th>
        <th>Returned At</th>
      </tr>
    </thead>
    <tbody>
      <% if @borrowings.any? %>
        <% @borrowings.each do |borrowing| %>
          <tr>
            <td><%= borrowing.borrower_name %></td>
            <td><%= borrowing.borrowed_at.strftime("%B %d, %Y %I:%M %p") %></td>
            <td>
              <% if borrowing.due_date %>
                <%= borrowing.due_date.strftime("%B %d, %Y %I:%M %p") %>
              <% else %>
                <span class="text-danger">N/A</span>
              <% end %>
            </td>
            <td>
              <% if borrowing.returned_on %>
                <%= borrowing.returned_on.strftime("%B %d, %Y %I:%M %p") %>
              <% else %>
                <span class="text-danger">Not Returned</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="4" class="text-center">No borrowing history found.</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
